body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
}

h1 {
	font-weight: normal;
	text-align: center;
	font-size: 22px;
	margin: 20px;
	margin-bottom: 40px;
}

a {
	color: #4761c7;
	text-decoration: none;
}

.setup {
	margin: 0 10px;
}

.setup input {
	font-weight: 300;
	margin: 0;
	margin-left: 20px;
	font-size: 15px;
	padding: 2px;
	width: 80px;
	vertical-align: -1px;
}

.setup select, .setup textarea {
	font-weight: 300;
	margin: 0;
	margin-left: 20px;
	font-size: 17px;
	vertical-align: -1px;
}

.setup {
	margin: 20px auto;
	width: 440px;
}

.setup .field {
	margin: 10px 20px 20px 20px;
	display: flex;
}

.setup label {
	vertical-align: middle;
	font-size: 15px;
	width: 150px;
	text-align: right;
	display: inline-block;
	color: #858585;
}

.tools {
	margin: 20px;
	text-align: center;
	line-height: 20px;
}

.tools a {
	font-weight: bold;
}

.marker-id {
	display: none;
}

.marker {
	text-align: center;
	background: white;
	margin: 0px;
}

.marker table {
	border: none;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100mm;
	height: 100mm;
}

.marker table td {
	margin: 0;
	padding: 0;
	border: none;
	background: white;
}

footer {
	font-weight: normal;
	margin: 20px;
	margin-top: 60px;
	text-align: right;
	font-size: 13px;
	color: #919191;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

@media print {
	body {
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
		background: white;
	}

	body > * {
		display: none;
	}

	.marker-id {
		display: block !important;
		text-align: center;
	}

	.marker {
		border: none !important;
		display: block;
	}
}

#print-layouts {
	width: 35mm;
	border: 1 thin gray;
	display: flex;
	flex-direction: column;
}

.print-layout {
	width: 21.0mm;
	height: 29.7mm;
	border-style: solid;
	border-color: gray;
	margin: 1.5mm;
	position: relative;
}

.print-layout:hover {
	transform: scale(1.05);
	transition: all .2s ease;
}

.marker-preview {
	background-color: lightslategray;
	position: absolute;
}

.selected > .marker-preview  {
	background-color: rgb(50, 178, 201);
}

.printPage {
	border-style: dashed;
	border-width: 2px;
	border-color: rgb(243, 193, 142);
	height:297mm;
	width: 210mm;
	margin: 4px;
	position: relative;
}

#printPages{
	display: flex;
	flex-direction: column;
}

.marker-container{
	position: absolute;
	border-style: dashed;
	border-color: whitesmoke;
	border-width: 2px;

}

.marker {
	/* padding: 6mm; */
	/* margin: 1mm; */
}

.page {
	display: flex;
	flex-direction: column;
	height: 100%;
}

@page {
	size: A4;
	margin: 0;
}

@media print {
	body * {
	  visibility: hidden;
	}
	#printPages, #printPages * {
	  visibility: visible;
	}
	#printPages {
	  position: absolute;
	  left: 0;
	  top: 0;
	}
	.printPage {
		border-width: 0px;
		margin: 0px;
	}
	  }